---
name: History
category: "04 OpenComposer"
description: |
  OpenComposerから投入したSlurmジョブの履歴を表示します。
icon: fas://history
url: /pun/sys/dashboard/custom/opencomposer_history
new_window: false
tile:
  sub_caption: |
