---
name: Open Composer
category: "03 ジョブ"
description: |
  Open Composer is an application that creates and submits batch job scripts.
icon: fas://hat-wizard
url: {{ ('/pun/sys/' ~ (ood_opencomposer_install_dir | basename) ~ '/slurm') | to_json }}
tile:
  sub_caption: |
