---
name: Slurmジョブ
category: "04 OpenComposer"
description: |
  Slurmのバッチジョブスクリプトを作成し、クラスタへ投入します。
icon: fas://terminal
url: /pun/sys/dashboard/custom/opencomposer_slurm
new_window: false
tile:
  sub_caption: |
